html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 30px;
  color: $accent;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}