html,
body {
  height: 100%;
}

.body-hidden {
  overflow: hidden;
}

body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 30px;
  color: $accent;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu-btn {
  background-color: $color-bg;
  height: 48px;
  width: 48px;
  position: relative;
  display: none;
  border-radius: 5px;

  .menu-btn &__first,
  .menu-btn &__center,
  .menu-btn &__last {
    position: absolute;
    display: block;
    margin: auto;
    top: 48%;
    left: 15%;
    height: 3px;
    width: 70%;
    background-color: red;
    transition: all 0.2s ease-out;
  }

  .menu-btn &__first {
    top: 23%;
  }

  .menu-btn &__last {
    top: 73%;
  }

  .menu-btn.menu-btn--active &__first {
    transform: rotate(45deg);
    top: 48%;
  }

  .menu-btn.menu-btn--active &__center {
    opacity: 0;
  }

  .menu-btn.menu-btn--active &__last {
    transform: rotate(-45deg);
    top: 48%;
  }
}


.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;

  &__list {
    display: flex;
    margin-top: 10px;
  }

  &__item {
    color: #737980;
    padding-right: 20px;
    position: relative;

    &::after {
      content: "/";
      position: absolute;
      right: 6px;
      top: 0;
    }

    &:last-child {
      color: #737980;
      padding-right: 0;

      &::after {
        content: none;
      }
    }
  }

  &__link {
    color: inherit;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0 120px;

  &__list {
    display: flex;
  }

  &__item,
  &__list-prev,
  &__list-next {
    padding: 20px;
    margin: 0 15px;
    border: 1px solid #a3bbc8;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent;
  }


  &__list-prev {
    width: 90px;
    display: none;
  }

  &__list-next {
    width: 75px;
    height: 50px;
  }

  &__link {
    color: inherit;
  }

  &__item--active {
    color: #fff;
    background-color: #a3bbc8;
  }

}