html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 30px;
  color: $accent;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}


.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;

  &__list {
    display: flex;
    margin-top: 10px;
  }

  &__item {
    color: #737980;
    padding-right: 20px;
    position: relative;

    &::after {
      content: "/";
      position: absolute;
      right: 6px;
      top: 0;
    }

    &:last-child {
      color: #737980;
      padding-right: 0;

      &::after {
        content: none;
      }
    }
  }

  &__link {
    color: inherit;
  }
}