$color-link: #436372;
$color-text: #7b7b7b;
$accent: #243f4d;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%btn {
  background-color: #a3bbc8;
  padding: 25px 100px 25px 30px;
  color: #fff;
  border: none;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow-btn.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 11px;
    right: 20px;
    top: 30px;

  }
}