$color-link: #436372;
$color-text: #7b7b7b;
$accent: #243f4d;
$color-bg: #a3bbc8;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%btn-color {
  background-color: #a3bbc8;
  padding: 25px 100px 25px 30px;
  color: #fff;
  border: none;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow-btn.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 11px;
    right: 20px;
    top: 30px;
  }
}

%btn-none-color {
  background-color: transparent;
  line-height: 0;
  padding: 24px 95px 25px 20px;
  color: $color-link;
  border: 1px solid #b3b7b5;
  position: relative;
  cursor: pointer;
  border-radius: 5px;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow-color-btn.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 11px;
    right: 13px;
    top: 20px;
  }
}

%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}


%title {
  font-size: 36px;
  @extend %dmsans-700;
  color: #191919;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}