@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding: 50px 0;

  &__container {
    max-width: 1790px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.menu {
  margin-left: 480px;
  margin-right: 330px;

  &__list {
    display: flex;
  }

  &__item+.menu__item {
    padding-left: 35px;
  }

  &__link {
    color: #234969;
    font-size: 15px;
    @extend %rubik-400;
    color: $color-link;

  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
  }

  &__bg {
    display: flex;
    margin: 0 50px;
    background-color: #fcd7b6;
    width: 180px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }

  &__link--search::before {
    content: "";
    position: absolute;
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__border {
    display: block;
    margin-left: 35px;
    border-right: 1px solid #fff;
    height: 34px;
    margin-right: 22px;
  }

  &__img {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 35px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -8px;
    right: -10px;
    font-size: 10px;
    color: #436372;
    text-align: center;
    line-height: 15px;
    z-index: 1;
  }
}


.footer-top {
  padding: 80px 0 40px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;

  &__contact {
    width: 200px;
  }

  &__list {
    width: 150px;
  }

  &__nav {
    width: 125px;
  }

  &__item-form {
    max-width: 280px;
  }

  &__logo {
    display: block;
    margin-bottom: 33px;
  }

  &__adress,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 15px;
    color: $color-text;
    width: 270px;
  }

  &__email {
    margin-bottom: 0;
  }

  &__connection-text {
    text-transform: uppercase;
    color: $color-text;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    @extend %dmsans-700;
    text-transform: uppercase;
    margin: 15px 0 28px;
  }

  &__link {
    display: block;
    margin-bottom: 20px;
    color: $color-text;
  }

  &__text {
    margin-bottom: 35px;
    color: $color-text;
    font-size: 14px;
    line-height: 24px;
  }

  &__form-input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 14px 10px 15px 14px;

    &::placeholder {
      font-size: 12px;
      color: #234969;
      @extend %dmsans-400;
    }
  }

  &__form-btn {
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 19px 19px 19px 16px;
    margin-left: -5px
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 38px 0 40px;
  color: $color-text;

  &__menu {
    position: relative;
  }

  &__list {
    display: flex;
  }

  &__link {
    padding: 0 15px;
    color: $color-text;
  }

  &__link::after {
    content: '|';
    position: absolute;
    margin-right: 15px;
  }
}

.top-slider {
  background-color: #fcd7b6;
  padding-top: 100px;
  padding-bottom: 45px;

  &__container {
    max-width: 1790px;
  }

  &__content {
    padding: 110px 120px 0 250px;
  }

  &__item {
    display: flex !important;
    justify-content: space-around;
  }

  &__img {
    max-width: 800px;
  }

  &__title {
    max-width: 415px;
    font-size: 72px;
    line-height: 70px;
    color: $accent;
    @extend %rubik-500;
    margin-bottom: 44px;

  }

  &__text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
    color: $color-link;
    @extend %rubik-400;
  }

  &__btn {
    @extend %btn-color;
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      padding: 0 5px;
      counter-reset: slider-num;

      button {
        padding: 0;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        counter-increment: slider-num;
        position: relative;
        color: $color-link;

        &::after {
          content: ''(slider-num);
          position: absolute;
          text-align: center;

        }
      }

      &.slick-active button {
        background-color: #fff;
        color: $accent;

        &::before {
          color: #667983;
          background-color: #fde3cc;
        }
      }
    }
  }
}

.info {
  background-color: #fef7f0;
  padding: 45px 0;

  &__container {
    max-width: 1790px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-left: 75px;
    position: relative;
  }

  &__item-support {
    max-width: 280px;
    margin-left: 145px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/support.svg');
      width: 50px;
      height: 53px;
      left: 0;
      top: 8px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/icons/border.svg');
      width: 1px;
      height: 195px;
      right: -200px;
      top: -45px;
    }
  }

  &__item-delivery {
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/delivery.svg');
      width: 53px;
      height: 36px;
      left: 0;
      top: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/icons/border.svg');
      width: 1px;
      height: 195px;
      right: -200px;
      top: -45px;
    }
  }

  &__item-payment {
    max-width: 310px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/payment.svg');
      width: 53px;
      height: 52px;
      left: 0;
      top: 205x;
    }
  }

  &__item-title {
    max-width: 220px;
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
    color: #414141;
    margin: 5px 0 0;
  }

  &__item-subtitle {
    color: #585858;
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }
}

.product {
  padding: 75px 0;


  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 45px;
  }

  &__title {
    text-align: center;
    @extend %title;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__menu-item:not(:last-child) {
    margin-right: 35px;
  }

  &__menu-link {
    border: none;
    background-color: transparent;
    margin: 40px 0 85px;
    color: #8b8b8b;
    @extend %dmsans-700;
  }
}

.mixitup-control-active {
  color: #191919;
}

.product-item {
  max-width: 270px;
  text-align: center;

  &__img-box {
    position: relative;
    height: 380px;
    max-width: 270px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    border-radius: 5px;
  }

  &__link-box {
    transition: all .3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px;
    transform: translateY(700%);
  }

  &__link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a3bbc8;

    path {
      transition: all .3s;
    }
  }

  &__link:hover {
    background-color: #a3bbc8;

    path {
      fill: #fff;
    }
  }

  &__images {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    padding-top: 27px;
  }

  &__title {
    margin-top: 75px;
  }

  &__price {
    color: #a3bbc8;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0)
    }
  }
}

.promo {
  &__container {
    max-width: 1790px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.promo-item {

  &__lamp {
    max-width: 870px;
    background-color: #feefe2;
    padding: 100px 153px 100px 390px;
    margin-right: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/promo/lamp.png');
      width: 233px;
      height: 405px;
      left: 145px;
      top: -102px;
    }
  }

  &__floor-lamp {
    max-width: 870px;
    background-color: #feefe2;
    padding: 70px 153px 100px 390px;
    margin-right: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/promo/floor-lamp.png');
      background-repeat: no-repeat;
      width: 233px;
      height: 405px;
      left: 130px;
      top: -102px;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $accent;
    margin-bottom: 20px;
  }

  &__info {
    margin-bottom: 35px;
  }

  &__btn {
    @extend %btn-none-color;
    @extend %rubik-500;
  }
}


.design {
  padding: 105px 0 120px;


  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 45px;
  }

  &__title {
    text-align: center;
    @extend %title;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__menu-item:not(:last-child) {
    margin-right: 35px;
  }

  &__menu-link {
    border: none;
    background-color: transparent;
    margin: 40px 0 85px;
    color: #8b8b8b;
    @extend %dmsans-700;
  }

  .mixitup-control-active {
    color: #191919;
  }
}

.design-item {
  width: 370px;
  background-color: #f8f8f8;

  &__img-box {
    position: relative;

    @extend %dmsans-700;
  }

  &__info {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__title {
    max-width: 175px;
    font-size: 20px;
    color: #191919;
    line-height: 25px;
    margin-bottom: 15px;
  }

  &__status {
    color: #a3bbc8;
    font-size: 16px;
    line-height: 20px;
  }

  &__images {
    margin-left: auto;
  }

  &__images--chair-black {
    padding-top: 60px;
    padding-right: 60px;
  }

  &__images--chair-white {
    padding-top: 40px;
    padding-right: 30px;
  }
}

.video {
  background-image: url('../images/video.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.insight {
  padding-bottom: 95px;
  position: relative;
  z-index: 1;

  &__title {
    @extend %title;
    display: flex;
    justify-content: space-between;
  }

  &__title-link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #191919;
    padding-right: 25px;
    position: relative;
    margin-bottom: 45px;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-insight-right.svg');
      width: 6px;
      height: 11px;
      right: 0;
      top: 10px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    position: relative;
    z-index: 2;
    background-color: #fff;

  }

  &__item {
    max-width: 370px;
    height: 425px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    z-index: 5;
  }

  &__item-news {
    position: absolute;
    display: block;
    border: 1px solid #a3bbc8;
    padding: 5px 30px;
    background-color: #a3bbc8;
    border-radius: 20px;
    color: #fff;
    top: 55%;
    left: 30px;
    font-size: 14px;
    line-height: 20px;
    z-index: 10;

  }

  &__item-text {
    font-size: 18px;
    line-height: 25px;
    @extend %dmsans-500;
    padding: 35px 0 0 30px;
    position: relative;
    color: #262626;


    &::after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #e0e0e0;
      width: 315px;
      bottom: -12px;
      left: 30px;
    }
  }

  &__item-bottom {
    position: relative;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__item-links {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    font-size: 12px;
    line-height: 30px;
    padding-left: 35px;
    padding-right: 120px;
    color: #222933;

    a {
      color: inherit;
    }
  }

  &__bg {
    position: absolute;
    background-color: #fef7f0;
    bottom: 0;
    height: 270px;
    width: 100%;
  }
}

.partners {
  position: relative;
  background-color: #fef7f0;

  &__container {
    max-width: 1790px;
  }

  &__box {
    position: relative;
    background-color: #fef7f0;
    display: flex;
    justify-content: center;
    padding-top: 95px;
    padding-bottom: 90px;
  }

  &__box-img {
    margin: 0 50px;

  }
}

.top {


  &__container {
    background-color: #edf1f4;
    margin: 0 auto;
    padding: 35px 0;
    text-align: center;
  }

  &__title {
    @extend %rubik-400;
    font-size: 36px;
    line-height: 24px;
  }
}

.modal {
  padding-top: 122px;
  max-width: 475px;
  margin: 0 auto;

  &__label {
    display: block;
    margin-bottom: 30px;
    color: $color-link;
  }

  &__label-checkbox {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 14px;
    border-bottom: 1px solid #f6f6f6;
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid #f6f6f6;
    margin-top: 4px;
    height: 60px;
    padding: 0 15px;
  }

  &__btn {
    display: block;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 18px;
    @extend %rubik-500;
    padding: 15px 0;
    border: none;
    width: 100%;
    cursor: pointer
  }

  &__error {
    margin-top: 30px;
    color: $color-link;
    display: inline-block;
    font-size: 14px;
    margin-left: 218px;
  }

  &__register {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 35px;
  }

  &__register-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    @extend %rubik-500;
    font-size: 18px;
    padding: 20px 0;
    color: #243f4d;
    background-color: #fff;
    border: 1px solid #a3bbc8;
    margin-bottom: 120px;

  }
}

.filter {
  margin-right: 30px;
}

.product {
  &__inner {
    display: flex;
  }

  &__filter-btn {
    display: none;
  }
}

.filter {
  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: $accent;
    text-transform: uppercase;
    padding-right: 55px;
    position: relative;
    margin-bottom: 30px;
  }

  &__category {
    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      left: 110px;
      top: 15px;
      background-color: #a3bbc8;
    }
  }

  &__price {
    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      left: 65px;
      top: 15px;
      background-color: #a3bbc8;
    }
  }

  &__brand {
    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      left: 75px;
      top: 15px;
      background-color: #a3bbc8;
    }
  }

  &__recent {
    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      right: 35px;
      top: 15px;
      background-color: #a3bbc8;
    }
  }

}

.product-category {
  &__label {
    display: block;
    margin-bottom: 17px;
    position: relative;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right-product.svg');
      background-repeat: no-repeat;
      background-position: center center;
      width: 16px;
      height: 14px;
      right: 23px;
      top: 23px;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.product-category__checkbox {
      background-color: #edf1f4;
      border: 1px solid #edf1f4;
      border-radius: 5px;
    }
  }

  &__checkbox {
    background-color: #fff;
    padding: 15px 23px 15px;
  }
}

.irs--flat .irs-line {
  background-color: #c2d2db;
  height: 3px;
  top: 25px;
  border-radius: 0;
  width: 275px;

}

.irs--flat .irs-handle {
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
  top: 20px;
}

.irs--flat .irs-bar {
  height: 4px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
  top: 50px;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.filter-price {
  margin-top: 75px;

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    margin-bottom: 85px;
  }

  &__from,
  &__to {
    display: block;
  }

  &__from {
    margin-right: auto;
  }
}

.product-brand {
  &__label {
    display: block;
    margin-bottom: 17px;
    position: relative;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.product-brand__checkbox {
      background-color: #edf1f4;
      border: 1px solid #edf1f4;
      border-radius: 5px;

      .product-brand__checkbox-num {
        color: $accent;
      }
    }
  }

  &__checkbox {
    background-color: #fff;
    padding: 15px 23px 15px;
    display: flex;
    justify-content: space-between;
  }

  &__checkbox-num {
    color: #b3b3b3;
  }

  &__form {
    margin-bottom: 55px;
  }
}

.recent-item {
  display: flex;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &__imgbox {
    border: 3px solid #f2f2f2;
    margin-right: 20px;
    padding: 5px;
  }

  &__img {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  &__content {
    color: #333333;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 15px;
    line-height: 27px;
    margin-top: 10px;
  }

  &__star {
    padding: 0;
  }

  &__link {
    color: inherit;
  }
}

.product-list {
  max-width: 270px;
  text-align: center;

  &__img-box {
    position: relative;
    width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__link-box {
    transition: all .3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px;
    transform: translateY(700%);
  }

  &__link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a3bbc8;

    path {
      transition: all .3s;
    }
  }

  &__link:hover {
    background-color: #a3bbc8;

    path {
      fill: #fff;
    }
  }

  &__images {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    padding-top: 27px;
    height: 180px;
  }

  &__title {
    margin-top: 75px;
    margin-bottom: 15px;
  }

  &__price {
    color: #a3bbc8;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 45px;
  }
}

.product-item {
  &__list {
    &:hover {
      .product-list__link-box {
        transform: translateY(0)
      }
    }
  }
}





@import 'media';